<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('bootstrap/css/bootstrap.css') }}"  rel="stylesheet" />
            <link href="{{ asset('bootstrap/css/datepicker.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bootstrap/css/timepicker.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bootstrap/css/bootstrap-multiselect.css') }}" type="text/css" rel="stylesheet" />            
        {% endblock %}
    </body>
</html>
